# KPI Calculation using UrbanMart with Inventory dataset

In [2]:
import pandas as pd

In [3]:
file_path = "Superstore_Cleaned.xlsx"
df = pd.read_excel(file_path)
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9994 non-null   int64
 1   Order_ID       9994 non-null   object
 2   Order_Date     9994 non-null   datetime64[ns]
 3   Ship_Date      9994 non-null   datetime64[ns]
 4   Ship_Mode      9994 non-null   object
 5   Customer_ID    9994 non-null   object
 6   Customer_Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal_Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product_ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub_Category   9994 non-null   object
 16  Product_Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

(None,
    Row_ID        Order_ID Order_Date  Ship_Date       Ship_Mode Customer_ID  \
 0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
 1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
 2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
 3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
 4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

      Customer_Name    Segment        Country             City  ...  \
 0      Claire Gute   Consumer  United States        Henderson  ...
 1      Claire Gute   Consumer  United States        Henderson  ...
 2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
 3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
 4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

   Postal_Code  Region       Product_ID         Category Sub_Category  \
 0       42420   South  FUR-BO-10001798        Furniture    Bookcases
 1       42420   South  FUR-CH-10000454        Furniture       Chairs
 2       90036    West  OFF-LA-10000240  Office Supplies       Labels
 3       33311   South  FUR-TA-10000577        Furniture       Tables
 4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                         Product_Name     Sales  Quantity  \
 0                  Bush Somerset Collection Bookcase  261.9600         2
 1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
 2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
 3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
 4                     Eldon Fold 'N Roll Cart System   22.3680         2

    Discount    Profit
 0      0.00   41.9136
 1      0.00  219.5820
 2      0.00    6.8714
 3      0.45 -383.0310
 4      0.20    2.5164

 [5 rows x 21 columns])

## 1. Gross Revenue (Total Sales)

In [4]:
gross_revenue=df['Sales'].sum()
print(gross_revenue)

2297200.8603000003

## 2. Total Profit

In [5]:
total_profit=df['Profit'].sum()
print(total_profit)

286397.0216999999

## 3. Profit Margin (%)

In [6]:
profit_margin=(total_profit/gross_revenue)*100
print(profit_margin)

12.4672172403156

## 4. Average Order Value (AOV)

In [7]:
order_sales=df.groupby('Order_ID')['Sales'].sum()
avg_order_value=order_sales.mean()
print(avg_order_value)

458.61466566180883

## 5. Return Rate (if Returns data is available later)

In [9]:
# Placeholder = None for now
return_rate=None

## 6. Sales per Product Category

In [10]:
sales_by_category=df.groupby('Category')['Sales'].sum()
print(sales_by_category)

Category
Furniture          741999.7953
Office Supplies    719047.0320
Technology         836154.0330
Name: Sales, dtype: float64

## KPI Summary Table

In [11]:
kpi_summary=pd.DataFrame({
    'KPI': [
        'Gross Revenue',
        'Total Profit',
        'Profit Margin (%)',
        'Average Order Value (AOV)',
        'Return Rate (N/A)',
    ],
    'Value': [
        f"${gross_revenue:,.2f}",
        f"${total_profit:,.2f}",
        f"{profit_margin:.2f}%",
        f"${avg_order_value:,.2f}",
        "N/A"
    ]
})
kpi_summary

                         KPI          Value
0              Gross Revenue  $2,297,200.86
1               Total Profit    $286,397.02
2          Profit Margin (%)         12.47%
3  Average Order Value (AOV)        $458.61
4          Return Rate (N/A)            N/A

### Category-Level KPI Table

In [12]:
# Category-level sales and profit
category_kpis=df.groupby('Category')[['Sales','Profit']].sum()
category_kpis['Profit_Margin_%']=(category_kpis['Profit']/category_kpis['Sales'])*100
category_kpis=category_kpis.sort_values(by='Sales',ascending=False)
category_kpis

                       Sales       Profit  Profit_Margin_%
Category
Technology       836154.0330  145454.9481        17.395712
Furniture        741999.7953   18451.2728         2.486695
Office Supplies  719047.0320  122490.8008        17.035158